@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --bs-yellow-100: #fcd905;
  --bs-yellow-200: #fff607;
  --bs-yellow-300: #ffc93c;
  --bs-yellow-400: #ffbb09;
}

body {
  background-color: var(--bs-yellow-100);
}

h1,
h2,
p,
a {
  font-family: "Comfortaa", cursive;
}

.text-heading {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  /* text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
    0px -2px 0 #000, 6px 6px 0px rgba(0, 0, 0, 0); */
}
